<div (change)="onChange()" class="w-100">
    <label for="name">Firstname</label>
    <input type="text" [(ngModel)]="person.firstName" class="form-control">
    <label for="name">Lastname</label>
    <input type="text" [(ngModel)]="person.name" class="form-control">
    <label for="name">Job</label>
    <input type="text" [(ngModel)]="person.job" class="form-control">
    <label for="name">CIN</label>
    <input type="text" [(ngModel)]="person.cin" class="form-control">
    <label for="name">Image</label>
    <input type="text" [(ngModel)]="person.path" class="form-control">
    <label for="name">Favorite Color</label>
    <input type="text" [(ngModel)]="person.favoriteColor" class="form-control">
</div>