<div class="container">

    <div [style.backgroundColor]="color" class="p-2 rounded">Hello</div>
    <div class="d-flex align align-items-center">
        <input type="text" #input (change)="changeColor(input.value)" class="m-1">
        <input [(ngModel)]="color" type="color" name="color" class="m-1">
        <button class="btn btn-primary m-1" (click)="setDefaultColor()">Reset Default Color</button>
    </div>
    <app-fils (colorChange)="changeChildColor($event)" [color]="color">
    </app-fils>
    <br>

    <div class="container">
        <div class="row">
            <app-details class="col-md-6 col-sm-9" [person]="person"></app-details>
            <app-form class="col-md-6 col-sm-9 " (personChange)="setPerson($event)"></app-form>
        </div>
    </div>
    
</div>